CIM/Connected Services/ASE_CardID_WebService/CardReviewService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetCardInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tempCardChk" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCardInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>